---
import Logo from "./logo.astro"
const logo_footer = "logos/youthacks_logo_colour.svg"
---


<div class="container">
    <div class=logo><img src={logo_footer}/></div>
    <div class="links-container">
        <div class="links">
            <h2>Site</h2>
            <a href="">Our Projects</a>
            <a href="">About Us</a>
            <a href="">Get in Touch</a>
            <a href="">Donate</a>
            <a href="">For Parents</a>
        </div>
        <div class="links">
            <h2>Social Media</h2>
            <a href="">Instagram</a>
            <a href="">Tiktok</a>
            <a href="">Linkedin</a>
            <a href="">Facebook</a>
            <a href="">GitHub</a>
        </div>
    </div>
    <div class="fineprint">
        <p>© 2025 Youthacks. Registering for UK charity status. Fiscally sponsored by Hack Club, a 501(c)(3) nonprofit (EIN: 81-2908499). </p>
    </div>
</div>

<style>

    .container {
        height: fit-content;
        border-top: 1px solid #dce1e9;
        background-color: #f8fafc;
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .links-container {
        display: grid;
        width: 50vw;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1rem;
    }
    .links a {
        display: block;
        width: fit-content;
        margin-bottom: 1rem;

        color: black;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;

        text-decoration: none;
    
    }

    .links h2{
        font-family: "Atkinson Hyperlegible", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .logo {

        /* Anchor logo in top-left of website */
        padding: 2rem;
        padding-left: 0;

        /* viewport <30vw triggers scalling down of logo */
        max-width: 30vw;
        z-index: 2;
    }

    /* Reposition logo in centre of page for mobile layouts */
    @media only screen and (max-width: 900px) {
        .links-container{
            grid-template-columns: 1fr;
        }
    }

    .logo img {
        max-height: 3rem;
    }

    .fineprint {
        background-color: #f8fafc;
        padding-bottom: 1rem;

        font-family: "Atkinson Hyperlegible", sans-serif;
        font-weight: 400;
        font-style: normal;

        font-size: 1rem;
      }
    }
</style>