---
const { class: className } = Astro.props;
---
<div class:list={["container", className]}>
    <slot/>
</div>

<style>
    .container{
        border-radius: 50px;
        background-colour: #e0e0e0;
        /*
        box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
        */
        width: auto;
        height: auto;
        margin: 0.5rem;
    }

    .container :global(img) {
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;

        border-radius: 50px;
        object-fit: cover;
    }

    .container :global(h1){

    }
    .container :global(h2){

    }
    .container :global(p){

    }
</style>
