---

//import { onMount } from 'astro';
import Head from "../shared/head.astro";
import Navbar from "../shared/navbar.astro";
import Footer from "../shared/footer.astro";
import Logo from "../shared/logo.astro";
import FloatingNavbar from "../components/navigation/floatingNavbar.astro";

const { BannerText } = Astro.props;
const { LogoType } = Astro.props;

const BannerSrc = "/banners/_DSC9591_edited.JPG";

// Animation with gsap

---

<Head />
<body>
  <FloatingNavbar/>
  <div id="hero-banner">
    <Logo type={LogoType} />
    <div class="gradiant"></div>
    <img src={BannerSrc} id="banner-image" />
    <div id="text-wrapper">
      <h1 id="banner-text">{BannerText}</h1>
    </div>
  </div>
  <!--Hero banner is positioned absolutely, so spacer ensures content is placed below banner in proper flow -->
  <div id="banner-spacer"></div>

  
  <Navbar />
  <slot />
  <Footer />
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrambleTextPlugin.min.js"/>
<script>

  // Animation magic
  import { gsap } from "gsap";
  console.log("using GSAP: ", gsap.version);

  gsap.registerPlugin(ScrambleTextPlugin) 

  /*gsap.to("#banner-text", {
    duration: 3, 
    scrambleText: "We run Hackathons for teens in the UK."
  });*/


  const tl = gsap.timeline({
    id: "#banner-text",
    defaults: { ease: "circ.out" }
  });
  console.log(tl)

  gsap.set("#banner-text", {
    opacity: 1,
  })

  tl.to("#banner-text", {
    scrambleText: {
      text: "We run Hackathons for teens in the UK",
      chars: "01",
      tweenLength: true,
      revealDelay: 0.5,
      speed: 1.2,
      delimiter: "",
    },
    duration: 8
  })


</script>

<style>
  body {
    margin: 0;
  }

  #hero-banner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
  }

  #banner-image {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: cover;
    z-index: -1;
  }

  #text-wrapper {
    height: inherit;
    width: inherit;
  }

  #banner-text {
    padding: 2rem;

    color: white;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 6rem;
    font-weight: 600;
    font-style: normal;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 60vw;
  }

  .gradiant {
    position: absolute;
    width: inherit;
    height: inherit;
    /*
    background: linear-gradient(
      290deg,
      rgba(44, 61, 156, 0.5),
      rgba(161, 236, 239, 0.3)
    ); */

    background: linear-gradient(
      290deg,
      rgba(241, 82, 38, 0.3),
      rgba(26, 43, 119, 0.3)
    );
    /*url(/filters/noise2.svg);*/
  }

  @media only screen and (max-width: 1250px) {
    #banner-text {
      width: 60vw;
      font-size: 4rem;
    }
  }

  #banner-spacer {
    height: 100vh;
    width: 100vw;
  }
</style>
