---
const {type} = Astro.props;
const {link} = Astro.props;
let logo_src;

// Fetch path for logo based on prop
switch (type) {
    case "light":
        logo_src = "/logos/Logo_Monochrome_Light_V2.svg";
        console.log("Loaded Light logo");
        break;
    case "dark":
        logo_src = "/logos/Logo_Monochrome_Dark_V2.svg";
        console.log("Loaded Dark logo");
        break;
    case "colour":
        logo_src = "/logos/Logo_Colour_V2.svg";
        console.log("Loaded Colour logo");
        break;
    case "B+W":
        logo_src = "/logos/Logo_Monochrome_B+W_V2.svg"
        console.log("Loaded B+W logo");
        break;
    default:
        logo_src = "/logos/Logo_Colour_V2.svg";
        console.log("Invalid selection, loading colour logo as default");
        break;
}
---
<div id="logo">
    <a href="/"><img src={logo_src} id="logo"></a>
</div>

<style>
    #logo {

        /* Anchor logo in top-left of website */
        position: absolute;
        top: 0;
        left: 0;
        padding: 2rem;

        /* viewport <30vw triggers scalling down of logo */
        max-width: 30vw;
        z-index: 2;
    }

    /* Reposition logo in centre of page for mobile layouts */
    @media only screen and (max-width: 900px) {
        #logo {
            
            position: absolute; 
            left: 0; 
            right: 0; 
            margin-left: auto;
            margin-right: auto;
            width: 100vw;
        }
    }

    #logo img {
        max-height: 4rem;
    }
</style>